jtb-javacc-2019/
minijava-examples-new/

*.jar
!lib/*.jar

# JTB output
minijava-jtb.jj
syntaxtree/
visitor/

# JavaCC output
MiniJavaParser.java
MiniJavaParserTokenManager.java
MiniJavaParserConstants.java
Token.java
TokenMgrError.java
ParseException.java
JavaCharStream.java

# javac output
*.class
